@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 10px;
    list-style: none;
    text-align: center;
}
ul li, ol li {
    display: inline-block;
}
ul a, ol a {
    display: inline-block;
    padding: 5px 10px;
}
h1 {
    margin-top: 0;
}
header {
    background-color: #ccc;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
section {
    padding: 50px 10%;
}
/*section:not([class='img']){
    border-top: 1px solid hsl(202, 13%, 65%);
    border-bottom: 1px solid hsl(174, 10%, 10%);
}*/
figure {
    text-align: center;
}
img#spinner {
    border-radius: 500px;
    transition: transform 500ms;
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(180deg) scale(.1);
        opacity: 0;
    }
    10% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
    90% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(180deg) scale(.1);
        opacity: 0;
    }
}

figcaption {
    padding: 25px 0;
}
.grad {
    position: relative;
    z-index: 1;
    color: snow;
    background-color: slategray;
    /*background-image: linear-gradient(to top, hsl(174, 11.9%, 16.5%), hsl(202.2, 13.7%, 61.4%));*/
    box-shadow: 0px -2px 0 hsl(202, 13%, 70%), 0px 2px 0 hsl(174, 10%, 10%);
}
.img {
    color: purple;
    background-image: url(https://i.annihil.us/u/prod/marvel//universe3zx/images/e/e9/X23001_cov.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*
    Unsplash Images:
    HTML => http://unsplash.it/750/750
    CSS => url(http://unsplash.it/750/750)
*/
