body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;

}
h1 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 64px;
}
h1, h2 {
    font-weight: 400;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
main {
    padding: 64px 16%;
}
